<div class="container">
     <div class="row">
          <div class="col-6">
               <h2 class="my-3">Form Tambah Kontak</h2>
               <% if (typeof errors !=='undefined' ) { %>
                    <div class="alert alert-danger" role="alert">
                         <ul>
                              <% errors.forEach(el=> { %>
                                   <li>
                                        <%= el.msg %>
                                   </li>
                                   <% }) %>
                         </ul>
                    </div>
                    <% } %>
                         <form action="/contact/add-contact" method="post">
                              <div class="mb-3">
                                   <label for="nama" class="form-label">Nama</label>
                                   <input type="text" class="form-control" id="nama" name="nama">
                              </div>
                              <div class="mb-3">
                                   <label for="noHP" class="form-label">No HP</label>
                                   <input type="text" class="form-control" id="noHP" name="noHP">
                              </div>
                              <div class="mb-3">
                                   <label for="email" class="form-label">email</label>
                                   <input type="email" class="form-control" id="email" name="email">
                              </div>
                              <button type="submit" class="btn btn-primary">Submit</button>
                         </form>
          </div>
     </div>
</div>