<div class="container">
     <div class="row">
          <div class="col-6">
               <h2 class="my-3">Form Edit Kontak</h2>
               <% if (!contact) { %>
                    <div class="alert alert-danger fw-bold" role="alert">
                         Name is not found. <a href="/contact" class="alert-link fw-normal">&laquo; Back to list
                              contact</a>
                    </div>
                    <% }else{ %>
                         <form action="/contact/update-contact" method="post">
                              <!-- unique value -->
                              <input type="hidden" name="oldNama" value="<%= contact.nama %>">
                              <div class="mb-3">
                                   <label for="nama" class="form-label">Nama</label>
                                   <input type="text" class="form-control" id="nama" name="nama"
                                        value="<%= contact.nama  %>">
                              </div>
                              <div class="mb-3">
                                   <label for="noHP" class="form-label">No HP</label>
                                   <input type="text" class="form-control" id="noHP" name="noHP"
                                        value="<%=contact.noHP %>">
                              </div>
                              <div class="mb-3">
                                   <label for="email" class="form-label">email</label>
                                   <input type="email" class="form-control" id="email" name="email"
                                        value="<%=contact.email %>">
                              </div>
                              <button type="submit" class="btn btn-primary">Submit</button>
                         </form>
                         <% } %>
          </div>
     </div>
</div>